@using TheBugTracker.Models.Enums
@using Microsoft.AspNetCore.Identity

@inject SignInManager<BTUser> SignInManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheBugTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TheBugTracker.styles.css" asp-append-version="true" />

    <!--  Login   **************************************  -->

    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="~/YashAdmin/images/favicon.png">
    <link href="~/YashAdmin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/YashAdmin/css/style.css" rel="stylesheet">

   <!--  Task   **************************************  -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="~/YashAdmin/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/YashAdmin/vendor/jvmap/jquery-jvectormap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css" rel="stylesheet">

    <!-- tagify-css -->
    <link href="~/YashAdmin/vendor/tagify/dist/tagify.css" rel="stylesheet">

    <!-- Style css -->
    <link href="~/YashAdmin/css/style.css" rel="stylesheet">


</head>


<body>

    @if (SignInManager.IsSignedIn(User))
    {
                <nav class="navbar navbar-expand-lg navbar-dark custom-bg-yellow  p-3" style = "margin-bottom: 20px;" >
            <div class="container-fluid">
                
                <a class="navbar-brand" asp-controller="Home" asp-action="Dashboard"  >Bugs Tracker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" 
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto ">

                        <!--  
                            <li class="nav-item">
                                       <a class="nav-link mx-2 active" aria-current="page" asp-controller="Companies" asp-action="Details" >Company</a>
                            </li>
                        -->

                            

                        <li class="nav-item dropdown">

                            <a class="nav-link mx-2 dropdown-toggle" 
                            id="navbarDropdownMenuLink" 
                            role="button" 
                            data-bs-toggle="dropdown" 
                            aria-expanded="false">
                                    <i class="fa fa-ticket" aria-hidden="true"></i>
                                    Tickets
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li  style = "margin-left : 10px"      >

                                      <a  asp-controller="Tickets" asp-action="Create" class="d-flex align-items-center text-dark text-decoration-none "  aria-expanded="false">
                                                <i class="fa fa-plus"></i>
                                                <span  class="nav-link text-dark" >Add Ticket</span>
                                      </a>
                                        <!-- 
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <a class="dropdown-item" asp-controller="Tickets" asp-action="Create" >Add Ticket</a>
                                            -->
                                </li>



                                        <li style = "margin-left : 10px"    >
                                                 <a  asp-controller="Tickets" asp-action="AllTickets" 
                                                                class="d-flex align-items-center text-dark text-decoration-none "  aria-expanded="false">
                                                        <i class="fa fa-th-list" aria-hidden="true"></i>
                                                        <span  class="nav-link text-dark" >All Tickets</span>
                                                </a>
                                            
                                               <!--  <a class="dropdown-item" asp-controller="Tickets" asp-action="AllTickets" >All Tickets</a> -->
                                            
                                        </li>



                                @if (!User.IsInRole(nameof(Roles.Admin)))
                                 {
                                     <li  style = "margin-left : 10px"  >
                                        <a   asp-controller="Tickets" asp-action="MyTickets" 
                                                  class="d-flex align-items-center text-dark text-decoration-none "  aria-expanded="false">
                                                  <i class="fa fa-bars" aria-hidden="true"></i>
                                                  <span  class="nav-link text-dark" >My Tickets</span>
                                         </a>

                                          <!-- <a class="dropdown-item" asp-controller="Tickets" asp-action="MyTickets" >My Tickets  </a> -->
                                     </li>
                                 }
                                   
                                      <li  style = "margin-left : 10px" >
                                   <a   asp-controller="Tickets" asp-action="ArchivedTickets"
                                                      class="d-flex align-items-center text-dark text-decoration-none "  
                                                      aria-expanded="false">
                                           <i class="fa fa-archive" aria-hidden="true"></i>
                                           <span  class="nav-link text-dark" >Ticket Archive</span>
                                   </a>
                                       </li>

                                   <!--  <li><a class="dropdown-item" asp-controller="Tickets" asp-action="ArchivedTickets" >Ticket Archive</a></li>
                                           -->
                                    @if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
                                        {
                                            <li  style = "margin-left : 10px" >
                                           <a   asp-controller="Tickets" asp-action="UnassignedTickets"
                                                              class="d-flex align-items-center text-dark text-decoration-none "  
                                                              aria-expanded="false">
                                                          <i class="fa fa-leaf" aria-hidden="true"></i>
                                                           <span  class="nav-link text-dark" >Assign Tickets</span>
                                           </a>
                                               </li>

                                     <!--   <li><a class="dropdown-item" asp-controller="Tickets" asp-action="UnassignedTickets" >Assign Tickets</a></li> -->
                                        }
                            </ul>
                        </li>

                        <li class="nav-item">

                                   <a asp-controller="UserRoles" asp-action="ManageUserRoles" class="d-flex align-items-center text-white text-decoration-none "  aria-expanded="false">
                                                   <i class="fa fa-cog" aria-hidden="true"></i>
                                                   <span  class="nav-link text-white" >Manage User Roles</span>
                                    </a>
                           <!-- 
                            <i class="fa fa-cog" aria-hidden="true"></i>
                            <a class="nav-link mx-2 active" aria-current="page" asp-controller="UserRoles" asp-action="ManageUserRoles" >Manage User Roles</a>
                                -->
                        </li>

                    </ul>
                    <ul class="navbar-nav ms-auto d-none d-lg-inline-flex">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    }

     
     @if (SignInManager.IsSignedIn(User))
    {
              <div class="container">
                <main role="main" class="pb-3">
                @RenderBody()
                </main>
        </div>

    }else
    {
            <div class="">
                <main role="main" class="pb-3">
                @RenderBody()
                </main>
           </div>
    }

       


    <footer class="border-top footer text-muted">

    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!--**********************************
            Login
    <!-- Required vendors -->
    <script src="~/YashAdmin/vendor/global/global.min.js"></script>
    <script src="~/YashAdmin/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/YashAdminjs/deznav-init.js"></script>
     <script src="~/YashAdmin/js/custom.js"></script>

    <script src="~/YashAdmin/js/styleSwitcher.js"></script>

     <!--***********************************-->


   <!--**********************************
        Task
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/YashAdmin/vendor/global/global.min.js"></script>

    <script src="~/YashAdmin/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <!-- Dashboard 1 -->

    <!-- tagify -->
    <script src="~/YashAdmin/vendor/tagify/dist/tagify.js"></script>

    <script src="~/YashAdmin/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/YashAdmin//vendor/datatables/js/dataTables.buttons.min.js"></script>
    <script src="~/YashAdmin/vendor/datatables/js/buttons.html5.min.js"></script>
    <script src="~/YashAdmin/vendor/datatables/js/jszip.min.js"></script>
    <script src="~/YashAdmin/js/plugins-init/datatables.init.js"></script>


    <!-- Vectormap -->
    <script src="./js/custom.js"></script>
    <script src="./js/deznav-init.js"></script>


    <script>
        $(document).ready(function() {

          var counters = $(".count");
          var countersQuantity = counters.length;
          var counter = [];

          for (i = 0; i < countersQuantity; i++) {
            counter[i] = parseInt(counters[i].innerHTML);
          }

          var count = function(start, value, id) {
            var localStart = start;
            setInterval(function() {
              if (localStart < value) {
                localStart++;
                counters[id].innerHTML = localStart;
              }
            }, 500);
          }

          for (j = 0; j < countersQuantity; j++) {
            count(0, counter[j], j);
          }
        });	
    </script>



    <!--END-->

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
