@using TheBugTracker.Services.Interfaces

@inject IBTRolesService RolesService

<h3 class="mt-2 mb-4">Manage Member Roles</h3>
<hr />

<div class="row mb-4">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header">
                <i class="fas fa-users text-secondary"></i>
                <strong>Members</strong>
            </div>
            <div class="card-body p-2">
                        
            </div>
        </div>
    </div>
</div>