@{
    ViewData["Title"] = "Home Page";
}


		<!-- Content -->
		<div class="browse-job login-style3">
			<!-- Coming Soon -->
			<div class="bg-img-fix overflow-hidden" style="background:#fff url(https://rsgaccountants.com.au/wp-content/uploads/2019/07/accountant-accounting-businessman.jpg); background-size: cover; height: 100vh;">
				<div class="row gx-0">
					<div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 vh-100  " style="background-color:#181c22">
						<div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: 653px;" tabindex="0">
							<div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr"  >
								<div class="login-form style-2" >

									<!-- 
									<div class="card-body">
										<div class="logo-header">
											<a href="index.html" class="logo"><img src="~/YashAdmin/images/logo/logo-full.png" alt="" class="width-230 light-logo"></a>
											<a href="index.html" class="logo"><img src="~/YashAdmin/images/logo/logofull-white.png" alt="" class="width-230 dark-logo"></a>
										</div>
									-->
									

										<nav>
											<div class="nav nav-tabs border-bottom-0" id="nav-tab" role="tablist">

										<div class="tab-content w-100" id="nav-tabContent" >
										  <div class="tab-pane fade show active"  style="padding:20px; " id="nav-personal" role="tabpanel" aria-labelledby="nav-personal-tab">
											 
													<h1  class="text-center"  style="margin-top:20px;" >Welcome</h1>
													<div class="dz-separator-outer m-b5">
														<div class="dz-separator bg-primary style-liner"></div>
													</div>
													<h5 class="text-center" >Bugs Tracker Landing Page </h5>

													 
													
												<div class="text-center bottom" style="margin-top:20px; margin-bottom:20px;"> 
													<form method="post">
													<button type="submit" asp-page="/Account/Login" asp-area="Identity"   style="background-color:#fd8d3d; color:white; border : none" 
													           class="btn btn-primary button-md btn-block" id="nav-sign-tab" data-bs-toggle="tab" 
															   data-bs-target="#nav-sign" type="button" role="tab" aria-controls="nav-sign" aria-selected="false"> 
																 Try it now!</a>
													
										            </button> 
													</form>

												</div>
										  </div>
										  
										
										</div>

										</div>
									</nav>
								

								</div>
							</div>
							<div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;">
								<div class="mCSB_draggerContainer">
								<div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 0px; display: block; height: 652px; max-height: 643px; top: 0px;">
								<div class="mCSB_dragger_bar" style="line-height: 0px;"></div><div class="mCSB_draggerRail"></div></div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Full Blog Page Contant -->
		</div>
		<!-- Content END-->

	


<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 -->