@model TheBugTracker.Models.ViewModels.AssignPMViewModel

@{
    ViewData["Title"] = "Assign PM";
}


<div class="d-flex align-items-center">
        <a class="" asp-action="UnassignedProjects" asp-controller="Projects" style="color: rgb(23, 123, 227); margin-right : 15px" >  
            <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i> 
        </a>
        <h4 class="mb-0">Assign Project Manager</h4>
</div>

<div class="d-flex align-items-center" style="margin-bottom : 20px">
        <a class="" asp-action="Dashboard" asp-controller="Home" style="color: rgb(23, 123, 227); margin-right : 15px" >  
            <i class="fa fa-home fa-lg" aria-hidden="true"></i> </a>
        <p class="mb-0" style="margin-right : 5px">/ Projects</p>
        <p class="mb-0">/ AssignPM</p>
</div>


<div class="">
    <div class="row">

        <div class="col-md-6">

            <div class="card shadow mt-4">

                <div class="card-body">
                    <form method="post" asp-action="AssignPM" asp-controller="Projects">
                        <input asp-for="Project.Id" hidden/>

                        <h6>@Model.Project.Name</h6>

                        <p>@Model.Project.Description</p>

                        <div class="form-group">
                            <label style="margin-bottom : 10px" class="col-form-label"><strong>Select Project Manager</strong></label>

                            <select asp-for="PMId" class="form-control" asp-items="@Model.PMList">
                                <option></option>
                            </select>
                        </div>
                        <div class="form-group mt-3">
                            <input type="submit" value="Assign" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>